*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #FF0000;
}

#PasswordBlock{
	width: 350px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 150px;
	background-color: #CCFFFF;
	border: 1px solid black;
	box-shadow: 0px 0px 3px 1px #000000;
	-moz-box-shadow: 0px 0px 3px 1px #000000;
	-webkit-box-shadow: 0px 0px 3px 1px #000000;
}

#PasswordBlock h2{
	text-align: center;
	font-family: Arial;
	padding-top: 30px;
}

#PasswordBlock h3{
	text-align: center;
	font-family: Arial;
	padding-top: 20px;
	color: #FF0000;
}

#Input{
	margin-left: 20%;
	margin-top: 10%;
	width: 200px;
	height: 25px;
	border: 1px solid #00FF00;
	text-align: center;
	font-size: 20px;
}

#ButtonSubmit{
	margin-left: 36%;
	margin-top: 20px;
	width: 95px;
	height: 35px;
	background-color: #66FF33;
	color: black;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -icab-border-radius: 5px;
	border-radius: 5px;
	border: none;
	font-size: 15px;
}

#ButtonSubmit:hover{
	background-color: #E0A3FF;
}